//LES VARIABLES SONT IMPORTEES ICI POUR POUVOIR ETRE UTILISEES DANS LES PLACEHOLDERS. DE LA MEME FACON, ELLES SERONT UTILISABLES DANS LES FEUILLES SCSS DIRECTEMENT.
@import "./_variables.scss";

//FONCTIONS
@mixin header_footer($height, $width, $backgroundColor, $position, $top, $zIndex) 
{
	height: $height;
	width: $width;
	background-color: $backgroundColor;
	position: $position;
	top: $top;
	z-index: $zIndex;
}

@mixin header_box ($display, $flexDirection, $justifyContent, $marginTop, $marginRight, $marginBottom, $marginLeft)
{
	display: $display;
	flex-direction: $flexDirection;
	justify-content: $justifyContent;
	margin: $marginTop $marginRight $marginBottom $marginLeft;
}

@mixin make_button($backgroundColor, $width, $margin, $fontFamily, $fontSize, $color)
{
	background-color: $backgroundColor;
	height: 38px;
	padding-top: 6px;
	width: $width;
	text-align: center;
	margin: $margin;

	a
	{
		font-family: $fontFamily;
		font-size: $fontSize;
		font-weight: bold;
		color: $color;
		text-decoration: none;
	}
}

@mixin nav ($width, $height, $top, $backgroundColor)
{
	width: $width;
	height: $height;
	top: $top;
	background-color: $backgroundColor;
	position: fixed;
	z-index: 10;
	overflow-x: hidden;
}

@mixin position_desktop ($color, $colorSpan)
{
	height: 44px;
	width: 256px;
	margin: 22px 22px 0px 22px;
	font-family: $titleFont;
	font-size: 24px;
	color: $color;

	span 
	{
		text-decoration: underline;
		color: $colorSpan;
		font-weight: bold;
	}
}

@mixin article ($margin, $width, $border, $theme)
{
	margin: $margin;
	width: $width;
	z-index: 0;
	display: flex;
	flex-direction: column;
	border: $border;
	background-color: $theme;
}

@mixin first_child ($width, $height, $theme, $paddingTop, $colorFont, $fontSize, $fontFamily, $marginLeft, $heightSpan, $border, $paddingSpan, $marginH4, $display)
{
	width: $width;
	height: $height;
	background-color: $theme;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	a 
	{
		padding-top: $paddingTop;
		color: $colorFont;
		font-size: $fontSize;
		font-family: $fontFamily;
		margin-left: $marginLeft;
		text-decoration: none;
	}

	div
	{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-top: $paddingTop;

		span
		{
			display: $display;
			height: $heightSpan;
			color: $colorFont;
			font-size: $fontSize;
			font-family: $fontFamily;
			text-decoration: none;	
			border-right : $border;
			padding: $paddingSpan;
		}

		h4
		{
			color: $colorFont;
			font-size: $fontSize;
			font-family: $fontFamily;
			margin: $marginH4;
		}
	}
}

@mixin second_child ($width, $height, $color, $fontSize, $fontFamily, $margin)
{
	width: $width;
	height: $height;

	h3
	{
		color: $color;
		font-size: $fontSize;
		font-family: $fontFamily;
		margin: $margin;
	}
}

@mixin third_child ($color, $fontSize, $fontFamily, $minHeight, $margin, $padding, $border, $img, $boxShadow, $marginImg, $weight)
{
	p 
	{
		overflow-wrap: break-word;
		color: $color;
		font-size: $fontSize;
		font-family: $fontFamily;
		min-height: $minHeight;
		margin: $margin;
		padding: $padding;
		border-bottom: $border;
		border-top: $border;
		font-weight: $weight;
					
		img
		{
			width: $img;
			height: $img;
			float: right;
			box-shadow: $boxShadow;
			margin: $marginImg;
		}
	}
}

@mixin tablet_mobile_register_form ($width)
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 110px);
		width: $width;

		input
		{
			height: 44px;
			margin-top: 11px;
			margin-bottom: 33px;
			width: $width;
			border: solid black 2px;
			align-self: center;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-bottom: 11px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: calc($width + 7px);
			border: none;
			font-family: "roboto";
			font-size: 24px;
			align-self: center;
		}

		a
		{
			text-decoration: none;
			font-family: "economica";
			font-size: 24px;
			margin-top: 22px;
			text-align: center;
			color: inherit;
			width: calc($width + 7px);
			align-self: center;
		}

		.admin_Back
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			margin-top: 6px;
			width: 100%;
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			border: none;			
		}
	}
}


//PLACEHOLDERS
%header_desktop
{
	display: flex;
	flex-direction: row;
}

%logo
{
	width: 44px;
	height: 44px;
	font-family: $titleFont;
	font-size: 44px;
	font-weight: bold;

	a 
	{
		text-decoration: none;
		color: $colorFontWhite;
	}
}

%position_tablet_mobile
{
	height: 44px;
	font-family: $titleFont;
	font-size: 22px;			
	color: $colorFontWhite;
	margin-top: 11px;

	span 
	{
		text-decoration: underline;
		color: $buttonColorOrange;
		font-weight: bold;
	}
}

%select_theme
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 22px;
	height: 44px;

	span
	{
		font-family: $titleFont;
		font-size: 33px;
	}

	img
	{
		width: 64px;
		height: 30px;
		margin: 2px 0px 2px 0px;
	}
}

%select_category
{
	display: flex;
	flex-direction: column;
	margin-top: 22px;
	margin-bottom: 22px;

	div
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 11px 22px 11px 22px;

		a:first-child
		{
			img
			{
				width: 44px;
				height: 44px;
			}
		}

		a:last-child
		{
			display: block;
			font-family: $titleFont;
			font-size: 22px;
			width: 100%;
			text-decoration: none;
			margin: 11px 0px 0px 22px;
		}
	}
}

%info_tablet_mobile
{
	padding-top: 22px;

	a
	{
		display: block;
		font-size: 22px;
		height: 22px;
		margin-bottom: 22px;
		margin-left: 22px;
		font-family: $titleFont;
		text-decoration: none;
		font-style: italic;
	}			
}

%mainDesktop
{
	section
	{
		width: calc(100vw - 300px);
		height: calc(100vh - 154px);
		margin: 77px 0px 0px 300px;
		overflow-x: hidden;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		article.news:last-child
		{
			margin-bottom: 77px;
		}
	}

	section#viewMoreBox
	{
		position: fixed;
		top: calc(100vh - 220px);
		height: 66px;
		background-color: rgba(0, 0, 0, 0.5);

		span#viewMore
		{
			background-color: $buttonColorWhite;
			height: 38px;
			padding-top: 6px;
			text-align: center;
			font-size: 33px;
			font-family: $itemFont;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			margin-top: 11px;
		}
	}

	section#sectionAdmin_one
	{
		width: calc(100vw - 300px);
		height: calc(100vh - 154px);
		margin: 77px 0px 0px 300px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;

		span#adminWelcome
		{
			align-self: center;
			margin-bottom: 44px;
			font-size: 28px;
			font-style: italic;
			font-family: $titleFont;
		}

		article.adminArticle
		{
			box-shadow: 2px 2px 3px black;
			align-self: center;
			@include make_button($buttonColorWhite, 300px, 11px 0px 0px 0px, $itemFont, 33px, $colorFontBlack);
		}
	}

	section#sectionAdmin_ManageUsers
	{
		width: calc(100vw - 300px);
		height: calc(100vh - 199px);
		margin: 99px 0px 0px 300px;

		div
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;

			span#adminWelcome
			{
				align-self: center;
				margin-bottom: 44px;
				font-size: 28px;
				font-style: italic;
				font-family: $titleFont;
				color: inherit;
			}

			span.displayUser
			{
				align-self: flex-start;
				margin-left: 44px;
				margin-bottom: 11px;
				font-size: 24px;
				font-family: $titleFont;

				span.infoUser
				{
					font-weight: bold;
				}
			}

			article.adminArticle
			{
				box-shadow: 2px 2px 3px black;
				align-self: center;
				@include make_button($buttonColorRed, 300px, 11px 0px 0px 0px, $itemFont, 33px, $colorFontBlack);
			}

			article.displayOptionsManageUser
			{
				margin: 0px 0px 0px 33px;
				display: flex;
				flex-direction: row;

				a
				{
					box-shadow: 2px 2px 3px black;
					background-color: $buttonColorWhite;
					height: 36px;
					padding-top: 8px;
					width: 100px;
					text-align: center;
					margin: 0px 0px 22px 11px;
					font-family: $itemFont;
					font-size: 28px;
					font-weight: bold;
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}

%mainTabletMobile
{
	section
	{
		width: 100vw;
		height: calc(100vh - 110px); 
		margin: 55px 0px 0px 0px;
		overflow-x: hidden;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		article.news:last-child
		{
			margin-bottom: 77px;
		}
	}

	section#viewMoreBox
	{
		position: fixed;
		top: calc(100vh - 176px);
		height: 66px;
		background-color: rgba(0, 0, 0, 0.5);

		span#viewMore
		{
			background-color: $buttonColorWhite;
			height: 38px;
			padding-top: 6px;
			text-align: center;
			font-size: 33px;
			font-family: $itemFont;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			margin-top: 11px;
		}
	}

	section#sectionAdmin_one
	{
		width: auto;
		height: calc(100vh - 110px); 
		margin: 55px 0px 0px 0px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		span#adminWelcome
		{
			margin-bottom: 44px;
			font-size: 28px;
			font-style: italic;
			font-family: $titleFont;
		}

		article.adminArticle
		{
			box-shadow: 2px 2px 3px black;
			align-self: center;
			@include make_button($buttonColorWhite, 300px, 11px 0px 0px 0px, $itemFont, 33px, $colorFontBlack);
		}
	}

	section#sectionAdmin_ManageUsers
	{
		width: auto;
		margin: 77px 0px 0px 0px;
		height: calc(100vh - 154px); 

		div
		{

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;

			span#adminWelcome
			{
				align-self: center;
				margin-bottom: 44px;
				font-size: 28px;
				font-style: italic;
				font-family: $titleFont;
				color: inherit;
				margin-left: 11px;
				margin-right: 11px;
			}

			span.displayUser
			{
				align-self: flex-start;
				margin-left: 44px;
				margin-right: 33px;
				margin-bottom: 11px;
				font-size: 24px;
				font-family: $titleFont;

				span.infoUser
				{
					font-weight: bold;
				}
			}

			article.displayOptionsManageUser
			{
				margin: 0px 0px 0px 33px;
				display: flex;
				flex-direction: row;

				a
				{
					box-shadow: 2px 2px 3px black;
					background-color: $buttonColorWhite;
					height: 36px;
					padding-top: 8px;
					width: 100px;
					text-align: center;
					margin: 0px 0px 22px 11px;
					font-family: $itemFont;
					font-size: 28px;
					font-weight: bold;
					color: black;
					text-decoration: none;
				}
			}

			article.adminArticle
			{
				box-shadow: 2px 2px 3px black;
				align-self: center;
				@include make_button($buttonColorRed, 300px, 11px 0px 0px 0px, $itemFont, 33px, $colorFontBlack);
			}
		}
	}

}

%footerDesktop
{
	div:first-child
	{
		display: none;
	}

	div:last-child
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 11px 44px 11px 44px;

		a
		{
			color: $colorFontWhite;
			font-size: 22px;
			font-family: $titleFont;
			text-decoration: none;
			margin-top: 16px;
		}
	}
}

%footerTabletMobile
{
	div:first-child
	{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;

		div
		{
			background-color: $buttonColorBlue;
			width: 220px;
			height: 43px;
			margin: 6px 0px 0px 0px;
			a
			{
				display: block;
				width: 220px;
				height: 44px;
				text-align: center;
				font-family: $itemFont;
				font-size: 33px;
				font-weight: bold;
				color: $colorFontBlack;
				text-decoration: none;

				h4
				{
					padding-top: 6px;
				}
			}
		}

		img
		{
			width: 44px;
			height: 44px;
			filter: invert(1);
			z-index: 30;
			margin-top: 6px;
		}
	}

	div:last-child
	{
		display: none;
	}
}

%desktop_register_form
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 154px);


		input
		{
			height: 44px;
			margin-top: 11px;
			margin-bottom: 33px;
			width: 500px;
			border: solid black 2px;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-left: 100px;
			width: 300px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}

		a.admin_Back
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			margin-top: -11px;
			width: 300px;
			margin-left: calc(50% - 154px);
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			border: none;			
		}
	}
}

%desktop_connexion_form
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 154px);


		input
		{
			height: 44px;
			margin-top: 11px;
			margin-bottom: 33px;
			width: 500px;
			border: solid black 2px;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-left: 100px;
			width: 300px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}

		a
		{
			text-decoration: none;
			font-family: "economica";
			font-size: 24px;
			margin-top: 22px;
			text-align: center;
			color: inherit;
		}
	}
}

%desktop_publish_form
{
	h3
	{
		font-family: "economica";
		font-size: 24px;
		text-align: center;
		margin-bottom: 2em;
	}

	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 154px);

		input
		{
			height: 44px;
			margin-top: 11px;
			width: 500px;
			border: solid black 2px;
		}

		span
		{
			margin-bottom: 33px;
			align-self: flex-end;
		}

		textarea
		{
			height: 176px;
			margin-top: 11px;
			width: 500px;	
			border: solid black 2px;		
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-left: 100px;
			width: 300px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}
	}
}

%tablet_publish_form
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 110px);

		h3
		{
			font-family: "economica";
			font-size: 24px;
			text-align: center;
			margin-bottom: 2em;
		}

		input
		{
			height: 44px;
			margin-top: 11px;
			width: 50vw;
			border: solid black 2px;
		}

		span
		{
			margin-bottom: 33px;
			align-self: flex-end;
		}

		textarea
		{
			height: 176px;
			margin-top: 11px;
			width: 50vw;
			border: solid black 2px;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-bottom: 11px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: calc(50vw + 7px);
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}
	}
}

%mobile_publish_form
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 110px);
		width: 75vw;

		h3
		{
			font-family: "economica";
			font-size: 24px;
			text-align: center;
			margin-top: 1em;
			margin-bottom: 1em;
		}

		input
		{
			height: 44px;
			margin-top: 11px;
			width: 75vw;
			border: solid black 2px;
		}

		span
		{
			margin-bottom: 33px;
			align-self: flex-end;
		}

		textarea
		{
			height: 176px;
			margin-top: 11px;
			width: 75vw;
			border: solid black 2px;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-bottom: 11px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: calc(75vw + 7px);
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}
	}
}

%desktop_publish_step_two
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 154px);
		width: 500px;

		input
		{
			height: 44px;
			margin-top: 11px;
			border: solid black 2px;
		}

		input[type="file"]
		{
			border: none;
			margin-top: 22px;
			margin-bottom: 22px;
			font-family: "roboto";
			font-size: 20px;
		}

		span
		{
			margin-bottom: 33px;
			align-self: flex-end;
		}

		input[type=submit]
		{
			margin-top: 11px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			margin-top: 11px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			border: none;			
		}
	}
}

%tablet_publish_step_two
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 110px);
		width: 50vw;

		input
		{
			height: 44px;
			margin-top: 11px;
			width: 50vw;
			border: solid black 2px;
		}

		input[type="file"]
		{
			border: none;
			margin-top: 22px;
			margin-bottom: 22px;
			font-family: "roboto";
			font-size: 20px;
		}

		span
		{
			margin-bottom: 33px;
			align-self: flex-end;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-bottom: 11px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: calc(50vw + 7px);
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			width: calc(50vw + 7px);
			border: none;
		}
	}
}

%mobile_publish_step_two
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 110px);
		width: 75vw;

		input
		{
			height: 44px;
			margin-top: 11px;
			width: 75vw;
			border: solid black 2px;
		}

		input[type="file"]
		{
			border: none;
			margin-top: 22px;
			margin-bottom: 22px;
			font-family: "roboto";
			font-size: 20px;
		}

		span
		{
			margin-bottom: 33px;
			align-self: flex-end;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-bottom: 11px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: 75vw;
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			width: 75vw;
			border: none;
		}
	}
}

%desktop_publish_step_three
{

	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 154px);
		margin-top: -10px;

		span 
		{
			margin-bottom: 33px;
		}

		label
		{
			margin-bottom: 22px;
			font-size: 24px;
		}

		select
		{
			font-family: "roboto";
			height: 44px;
			border: solid black 2px;
			font-size: 22px;
		}

		option
		{
			font-family: "roboto";
			height: 44px;
			font-size: 22px;
		}

		input[type=submit]
		{
			margin-top: 44px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			border: none;
			font-family: "roboto";
			height: 44px;
			font-size: 24px;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			margin-top: 11px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			border: none;			
		}
	}
}

%tablet_publish_step_three
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 110px);
		margin-top: -22px;

		span 
		{
			margin-bottom: 33px;
		}

		label
		{
			margin-bottom: 22px;
			font-size: 24px;
		}

		select
		{
			font-family: "roboto";
			height: 44px;
			border: solid black 2px;
			font-size: 22px;
		}

		option
		{
			font-family: "roboto";
			height: 44px;
			font-size: 22px;
		}

		input[type=submit]
		{
			margin-top: 44px;
			margin-bottom: 11px;
			font-weight: bold;
			height: 44px;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: calc(50vw + 7px);
			border: none;
			font-family: "roboto";
			font-size: 24px;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			width: calc(50vw + 7px);
			border: none;
		}
	}
}

%mobile_publish_step_three
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 110px);
		width: 75vw;
		margin-top: -22px;

		span 
		{
			margin-bottom: 33px;
		}

		label
		{
			margin-bottom: 22px;
			font-size: 24px;
		}

		select
		{
			font-family: "roboto";
			height: 44px;
			border: solid black 2px;
			font-size: 22px;
		}

		option
		{
			font-family: "roboto";
			height: 44px;
			font-size: 22px;
		}

		input[type=submit]
		{
			margin-top: 11px;
			margin-bottom: 11px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: 75vw;
			border: none;
			font-family: "roboto";
			font-size: 24px;
			height: 44px;
			margin-top: 44px;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			width: 75vw;
			border: none;
		}
	}
}

%desktop_publish_step_four
{
	form
	{
		font-family: "economica";
		font-size: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: calc(100vh - 154px);
		width: calc(100vw - 300px);

		div
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-content: center;

			span 
			{
				margin-bottom: 33px;
			}

			div
			{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				margin: 22px;

				label
				{
					margin-bottom: 11px;
					margin-top: 22px;
					font-size: 24px;
				}

				input
				{
					border: solid 2px black;
					height: 44px;
					width: 19vw;
				}
			}
		}

		input[type=submit]
		{
			margin-top: 44px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			border: none;
			font-family: "roboto";
			height: 44px;
			font-size: 24px;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			margin-top: 11px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			border: none;			
		}
	}
}

%tablet_publish_step_four
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	form
	{
		font-family: "economica";
		font-size: 24px;
		width: calc(100vw - 264px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		div
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			margin-top: -33px;

			div
			{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				margin: 11px;

				label
				{
					margin-bottom: 11px;
					margin-top: 22px;
					font-size: 24px;
				}

				input
				{
					border: solid 2px black;
					height: 44px;
				}
			}
		}

		input[type=submit]
		{
			margin-top: 44px;
			margin-bottom: 11px;
			font-weight: bold;
			height: 44px;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: calc(50vw + 7px);
			border: none;
			font-family: "roboto";
			font-size: 24px;
			align-self: center;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			width: calc(50vw + 7px);
			border: none;
			align-self: center;
			margin-bottom: 11px;
		}
	}
}

%mobile_publish_step_four
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	form
	{
		font-family: "economica";
		font-size: 24px;
		width: 80vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		div
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			margin-top: -33px;

			div
			{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				margin: 11px;

				label
				{
					margin-bottom: 11px;
					margin-top: 22px;
					font-size: 24px;
				}

				input
				{
					border: solid 2px black;
					height: 44px;
				}
			}
		}

		input[type=submit]
		{
			margin-top: 44px;
			margin-bottom: 11px;
			font-weight: bold;
			height: 44px;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorGreen;
			width: calc(80vw - 22px);
			border: none;
			font-family: "roboto";
			font-size: 24px;
			align-self: center;
		}

		a
		{
			color: black;
			text-decoration: none;
			font-family: "roboto";
			height: 34px;
			text-align: center;
			padding-top: 10px;
			font-size: 24px;
			font-weight: bold;
			box-shadow: 2px 2px 3px black;
			background-color: $buttonColorRed;
			width: calc(80vw - 22px);
			border: none;
			align-self: center;
			margin-bottom: 11px;
		}
	}
}