$themeColorDark1: #000000;
$themeColorDark2: #282828;
$themeColorDark3: #434343;

$themeColorBright1: #000000;
$themeColorBright2: #FFFFFF;
$themeColorBright3: #FFFFFF;

$buttonColorWhite: #F2F2F2;
$buttonColorRed: #E88D8D;
$buttonColorBlue: #0099CC;
$buttonColorOrange: #FFCC99;
$buttonColorGreen: #AFE88D;

$textFont: "thasadith";
$titleFont: "economica";
$itemFont: "roboto";

$colorFontBlack: #000000;
$colorFontWhite: #FFFFFF;

$borderWhite : white solid 1px;
$borderBlack : black solid 1px;